<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148946101026-fv7n656g6apre43gvoegadhdaudaamgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148946101026-fv7n656g6apre43gvoegadhdaudaamgv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148946101026-tc1iafuauv7csoolurj0nmio17uaba4r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgnK38cm6ie1Wr51CTFn4lDFzJ4ezgCSs</string>
	<key>GCM_SENDER_ID</key>
	<string>148946101026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat-app</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f1641</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f1641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148946101026:ios:b6eaca5232255ecb053b7b</string>
</dict>
</plist>